<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: header"><title>User Update</title></head>

<body>
<div class="dashboard-main-wrapper">
  <div th:replace="/fragments/header :: header"></div>
  <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <div class="ecommerce-widget">
          <div class="input-group row">
            <div class="col-auto">
              <form>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                  <a id="staffListLink" class="btn bg-dark text-light mb-1"
                     th:href="@{/users/list}"><i class="fa fa-list mr-1"></i>User List</a>&nbsp&nbsp
                </div>
              </form>
            </div>
          </div><br>
          <header class="panel-heading">
            <h2 class="panel-title">Edit User</h2>
          </header>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                           aria-labelledby="account-tab">
                        <form class="needs-validation" novalidate
                              th:action="@{/users/update/{id}(id=${user.getId()})}"
                              th:method="post" th:object="${user}">
                          <div class="row">
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>First Name</label>
                                  <input type="text" th:field="*{firstname}" placeholder="First Name"
                                         class="form-control" required="required" aria-invalid="false">
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Last Name</label>
                                  <input type="text" th:field="*{lastname}" placeholder="Last Name"
                                         class="form-control" required="required" aria-invalid="false">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Username</label>
                                  <input type="text" th:field="*{username}" placeholder="Username"
                                         class="form-control" required="required" aria-invalid="false">
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Phone</label>
                                  <input type="text" th:field="*{phone}" placeholder="Phone"
                                         class="form-control" required="required" aria-invalid="false">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Password</label>
                                  <input type="password" th:field="*{password}" placeholder="Password"
                                         class="form-control" required="required" aria-invalid="false">
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Confirm Password</label>
                                  <input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password"
                                         class="form-control" required="required" aria-invalid="false">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Role</label>
                                  <select id="role" class="form-control" th:field="*{role}" required>
                                    <option th:each= "role:${userRoles}"
                                            th:value="${role.id}"
                                            th:text="${role.description}"></option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="form-group">
                                <div class="controls">
                                  <label>Company</label>
                                  <input th:field="${user.company.title}" class="form-control"
                                         required="required" aria-invalid="false" disabled>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                            <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                    type="submit" name="action" value="save">Save
                            </button>
                            <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                    type="reset">Cancel
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>