<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<body>
<div th:fragment="header">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-success-light fixed-top">
            <a class="navbar-brand"><img src="/images/CydeoLogoMini.jpg" height="45" alt="Cydeo"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="marquee">
                            <h1 class="col-xs-8 text-center"
                                th:text="${#authentication.principal.getCompanyTitleForProfile()}"></h1>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown connection">
                        <a class="nav-link" th:href="@{/dashboard}"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="/images/user_profile.svg" alt="" class="user-avatar-md rounded-circle"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                             aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h6 class="mb-0 text-white nav-user-name"
                                    th:text="${#authentication.principal.getFullNameForProfile()}"></h6>
                                <span class="status"></span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                            <a class="dropdown-item" th:href="@{/logout}"><i
                                    class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>

</html>