<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <div th:fragment="js">
        <script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
        <script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/libs/js/main-js.js}"></script>
        <script th:src="@{/assets/vendor/charts/chartist-bundle/chartist.min.js}"></script>
        <script th:src="@{/assets/vendor/charts/sparkline/jquery.sparkline.js}"></script>
        <script th:src="@{/assets/vendor/charts/morris-bundle/raphael.min.js}"></script>
        <script th:src="@{/assets/vendor/charts/morris-bundle/morris.js}"></script>
        <script th:src="@{/assets/vendor/charts/c3charts/c3.min.js}"></script>
        <script th:src="@{/assets/vendor/charts/c3charts/d3-5.4.0.min.js}"></script>
        <script th:src="@{/assets/vendor/charts/c3charts/C3chartjs.js}"></script>
        <script th:src="@{/assets/libs/js/dashboard-ecommerce.js}"></script>
        <script th:src="@{/assets/libs/js/validation.js}"></script>
        <script th:src="@{/assets/vendor/datepicker/tempusdominus-bootstrap-4.js}"></script>
        <script th:src="@{/assets/vendor/datepicker/moment.js}"></script>
        <script th:src="@{/assets/vendor/datepicker/datepicker.js}"></script>
        <script th:href="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
        <script type="text/javascript" th:src="@{https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js}"></script>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    let value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <script type="text/javascript" class="init">
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </div>
</body>

</html>
