<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: header"></head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <header class="panel-heading text-center">
                        <h2 class="panel-title">Update Category</h2>
                    </header>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form th:action="@{/categories/update/{id}(id=${category.getId()})}"
                                                      th:method="post" th:object="${category}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-8">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Description</label>
                                                                    <input type="text" th:field="*{description}"
                                                                           placeholder="Description"
                                                                           class="form-control">
                                                                    <div th:if="${#fields.hasErrors('description')}">
                                                                        <ul>
                                                                            <li class="validation" th:each="err : ${#fields.errors('description')}"
                                                                                th:text="${err}"></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="save">Save
                                                        </button>
                                                        <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                type="reset">Reset
                                                        </button>
                                                    </div>
                                                    <div th:if="${category.hasProduct}" class="row">
                                                        <div class="col-12 col-md-8">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <div class="alert alert-warning" role="alert">
                                                                        This category already has product/products! Make
                                                                        sure the new description that will be provided
                                                                        is proper.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group row justify-content-end">
                        <div class="col-auto">
                            <form>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                    <a id="categorylistlink" class="btn bg-dark text-light mb-1"
                                       th:href="@{/categories/list}"><i class="fa fa-list mr-1"></i>Category List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>