<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="/fragments/head :: header"></head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper mt-0">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content mt-1 pt-0">
                <div class="ecommerce-widget">
                    <div class="row">
                        <div class="col-12 pl-1 pr-1">
                            <div class="card mb-0">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Purchase Invoice</h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/purchaseInvoices/update/{id}(id=${invoice.getId()})}"
                                                      th:method="post" th:object="${invoice}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Invoice No</label>
                                                                    <input type="text" th:field="*{invoiceNo}" placeholder="Invoice No" readonly
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Date</label>
                                                                    <input type="text" th:field="*{date}" placeholder="Date" readonly
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Vendor</label>
                                                                    <select id="clientVendor" name="clientVendor" class="custom-select" th:with="clientVendor=*{clientVendor}">
                                                                        <option th:each= "clientVendor:${vendors}"
                                                                                th:value="${clientVendor.id}"
                                                                                th:text="${clientVendor.getClientVendorName}"
                                                                                th:selected="${clientVendor.id} == ${invoice.clientVendor.id}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="save">Save
                                                        </button>
                                                        <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                type="reset">Reset
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pl-1 pr-1">
                            <div class="card mt-1 mb-1 ">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Add Product</h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="products" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/purchaseInvoices/addInvoiceProduct/{id}(id=${invoice.getId()})}"
                                                      th:method="post" th:object="${newInvoiceProduct}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-3">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Product Name</label>
                                                                    <select id="product" class="form-control" th:field="*{product}">
                                                                        <option th:if="${products.size() > 1}"
                                                                                th:value="''" th:text="'Select'" selected></option>
                                                                        <option th:each= "product:${products}"
                                                                                th:value="${product.id}"
                                                                                th:text="${product.name}"></option>
                                                                    </select>
                                                                </div>
                                                                <div th:if="${#fields.hasErrors('product')}">
                                                                    <ul>
                                                                        <li class="validation"
                                                                            th:each="err : ${#fields.errors('product')}"
                                                                            th:text="${err}"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-3">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Quantity</label>
                                                                    <input type="number" th:field="*{quantity}" placeholder="Quantity"
                                                                           class="form-control" aria-invalid="false">
                                                                </div>
                                                                <div th:if="${#fields.hasErrors('quantity')}">
                                                                    <ul>
                                                                        <li class="validation"
                                                                            th:each="err : ${#fields.errors('quantity')}"
                                                                            th:text="${err}"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-3">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Price (without tax)</label>
                                                                    <input type="number" th:field="*{price}" placeholder="Price" step=".01"
                                                                           class="form-control" aria-invalid="false">
                                                                </div>
                                                                <div th:if="${#fields.hasErrors('price')}">
                                                                    <ul>
                                                                        <li class="validation"
                                                                            th:each="err : ${#fields.errors('price')}"
                                                                            th:text="${err}"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-3">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Tax Rate</label>
                                                                    <input type="number" th:field="*{tax}" placeholder="Tax"
                                                                           class="form-control" aria-invalid="false">
                                                                </div>
                                                                <div th:if="${#fields.hasErrors('tax')}">
                                                                    <ul>
                                                                        <li class="validation"
                                                                            th:each="err : ${#fields.errors('tax')}"
                                                                            th:text="${err}"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="addItem">Add Product
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="panel mb-0">
                        <div class="panel-body">
                            <div class="users-list-table">
                                <div class="row">
                                    <div class="col-12 pl-1 pr-1">
                                        <div class="card">
                                            <div class="card-content fw-container">
                                                <div class="card-body fw-body">
                                                    <h4 class="card-title text-center">Product List</h4>
                                                    <div class="table-responsive content demo-html">
                                                        <table id="example"
                                                               class="table table-striped table-bordered file-export"
                                                               style="width:100%">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th>Product Name</th>
                                                                <th>Quantity</th>
                                                                <th>Unit Price (without tax)</th>
                                                                <th>Tax Rate</th>
                                                                <th>Total (with tax)</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="invoiceProduct,comStat : ${invoiceProducts}">
                                                                <td th:text="${comStat.count}"></td>
                                                                <td th:text="${invoiceProduct.product.name}"></td>
                                                                <td th:text="${invoiceProduct.quantity}"></td>
                                                                <td th:text="${invoiceProduct.price}"></td>
                                                                <td th:text="${invoiceProduct.tax}"></td>
                                                                <td th:text="${invoiceProduct.total}"></td>
                                                                <td class="actions">
                                                                    <a th:href="@{/purchaseInvoices/removeInvoiceProduct/{invoiceId}/{invoiceProuductId}(invoiceId=${invoice.getId()}, invoiceProuductId=${invoiceProduct.getId()})}">
                                                                        <button class="ft-minus btn-danger bg-light-primary" type="submit"></button>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="input-group row justify-content-end mt-0 mr-0">
                        <div class="col-auto">
                            <form>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                    <a id="companylistlink" class="btn bg-dark text-light mb-1"
                                       th:href="@{/purchaseInvoices/list}"><i class="fa fa-list mr-1"></i>Purchase Invoice List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>