<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="/fragments/head :: header"></head>

<body>
    <div class="dashboard-main-wrapper">
        <div th:replace="/fragments/header :: header"></div>
        <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="ecommerce-widget">
                        <section class="panel">
                            <header class="panel-heading text-center"><h2 class="panel-title">Purchase Invoice List</h2></header>
                            <div class="panel-body">
                                <div class="users-list-table">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-content fw-container">
                                                    <div class="card-body fw-body">
                                                        <div class="table-responsive content demo-html">
                                                            <table id="example"
                                                                   class="table table-striped table-bordered file-export"
                                                                   style="width:100%">
                                                                <col style="width:3%">
                                                                <col style="width:7%">
                                                                <col style="width:12%">
                                                                <col style="width:12%">
                                                                <col style="width:12%">
                                                                <col style="width:12%">
                                                                <col style="width:12%">
                                                                <col style="width:32%">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Invoice No</th>
                                                                    <th scope="col">Vendor</th>
                                                                    <th scope="col">Date</th>
                                                                    <th scope="col">Total Price (without tax)</th>
                                                                    <th scope="col">Total Tax</th>
                                                                    <th scope="col">Total Price (with tax)</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="invoice,comStat : ${invoices}">
                                                                    <td th:text="${comStat.count}"></td>
                                                                    <td th:text="${invoice.invoiceNo}"></td>
                                                                    <td th:text="${invoice.clientVendor.getClientVendorName}"></td>
                                                                    <td th:text="${#temporals.format(invoice.date, 'MMMM dd, yyyy')}"></td>
                                                                    <td th:text="${invoice.price}"></td>
                                                                    <td th:text="${invoice.tax}"></td>
                                                                    <td th:text="${invoice.total}"></td>
                                                                    <td class="actions">
                                                                        <a th:if="${invoice.invoiceStatus.value} == 'Awaiting Approval'"
                                                                           th:href ="@{/purchaseInvoices/update/{id}(id=${invoice.getId()})}" type="button">
                                                                            <button class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Edit</button>
                                                                        </a>
                                                                        <a th:if="${invoice.invoiceStatus.value} == 'Awaiting Approval'"
                                                                           th:href ="@{/purchaseInvoices/delete/{id}(id=${invoice.getId()})}" type="button">
                                                                            <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2">Delete</button>
                                                                        </a>
                                                                        <a sec:authorize="hasAnyAuthority('Manager')"
                                                                           th:if="${invoice.invoiceStatus.value == 'Awaiting Approval' && invoice.invoiceProducts.size() > 0}" type="button"
                                                                           th:href ="@{/purchaseInvoices/approve/{id}(id=${invoice.getId()})}" >
                                                                            <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2">Approve</button>
                                                                        </a>
                                                                        <a th:if="${invoice.invoiceStatus.value} == 'Approved'" type="button"
                                                                           th:href ="@{/purchaseInvoices/print/{id}(id=${invoice.getId()})}">
                                                                            <button class="btn btn-info mb-2 mb-sm-0 mr-sm-2">Print</button>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="input-group row justify-content-end">
                            <div class="col-auto">
                                <form>
                                    <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                        <a id="companyCreateLink" class="btn bg-dark text-light mb-1"
                                           th:href="@{/purchaseInvoices/create}"><i class="fa fa-plus mr-1"></i>
                                            Create Purchase Invoice</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
    <div th:replace="/fragments/javascript :: js"></div>
</body>

</html>