<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head
    th:replace="/fragments/head :: header">
    <title>Admin Dashboard</title>
</head>

<body>
    <div class="dashboard-main-wrapper">
        <div th:replace="/fragments/header :: header"></div>
        <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

<!--        add your tables here            -->

    </div>
    <div th:replace="/fragments/footer :: footer"></div>
    <div th:replace="/fragments/javascript :: js"></div>
</body>

</html>